@tailwind base;
@tailwind components;
@tailwind utilities;

body {
}
.attract-logo {
  width: 15%;
}
@media screen and (max-width: 750px) {
  body {
    overflow: scroll;
  }
}

.banner-buttons a:hover {
  color: #2c434e;
}
